{% extends "request/base.html" %}
{% load static %}
{% block title %}パスワード再設定{% endblock %}
{% block content %}

{% block navbar %}{% endblock %}

<section class="section section-shaped section-lg min-vh-100">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <p>パスワード再設定を完了しました。</p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}">ログイン</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}