{% extends "request/base.html" %}
{% load static %}
{% block title %}パスワード再設定{% endblock %}
{% block content %}

{% block navbar %}{% endblock %}

<section class="section section-shaped section-lg min-vh-100">
    <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="container pt-lg-7">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <p>
                            パスワード再設定用のメールを送信しました。<br>
                            メールに記載されているリンクから再設定を行ってください。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}