{% extends "request/base.html" %}
{% load static %}
{% block title %}住居・身上確認書{% endblock %}
{% block extra_css %}
<link class="css" rel="stylesheet" type="text/css" href="{% static 'css/confirm_confirmation.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid px-4 py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- ヘッダー部分 -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h3 mb-0 text-gray-800">住居・身上確認書 確認画面</h1>
            </div>

            <table class="ui celled table table table-hover table_design03">
                <tr>
                    <th>申請日</th>
                    <td>{{ form.application_date.value }}</td>
                </tr>
                <tr>
                    <th>社員番号</th>
                    <td>{{ form.employee_number.value }}</td>
                </tr>
                <tr>
                    <th>氏名</th>
                    <td>{{ form.name.value }}</td>
                </tr>
                <tr>
                    <th>氏名フリガナ</th>
                    <td>{{ form.name_kana.value }}</td>
                </tr>
                <tr>
                    <th>所属</th>
                    <td>{{ form.affiliation.value }}</td>
                </tr>
                <tr>
                    <th>現住所</th>
                    <td>{{ form.current_address.value }}</td>
                </tr>
                <tr>
                    <th>支給額計</th>
                    <td>{{ calc_amount }}円</td>
                </tr>
                <tr>
                    <th>備考欄</th>
                    <td>{{ form.remarks.value }}</td>
                </tr>
                {% if error_message %}
                <tr>
                    <th>警告</th>
                    <td style="color:red">{{ error_message }}</td>
                </tr>
                {% endif %}
            </table>
            
            <form class="ui form" action="{% if is_update %}{% url 'request:update_bicycle_commute' pk=application_pk %}{% else %}{% url 'request:bicycle_commute' %}{% endif %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                {{field.as_hidden}}
                {% endfor %}
                <button class="btn btn-secondary" type="submit" name="next" value="back">戻る</button>
                <button class="btn btn-primary" type="submit" name="next" value="create">作成する</button>
            </form>


        </div>
    </div>
</div>


{% endblock %}
{% block extra_script %}

{% endblock %}